 {% set article_show = path('article_show', {'slug':article.slug} ) %}
    <article class="mb-5">
      <div class="row">
        <div class="col-md-{{ leftCol ?? 6 }}">
          {% if article.featuredImage %}
          <a href="{{article_show}}">
            <img
              src="/uploads/{{article.featuredImage.filename}}"
              alt="{{article.featuredImage.altText}}"
              loading="lazy"
              style ="width: 100%;
              object-fit: cover;
              aspect-ratio: 1 / 1;
              margin: 0;
              height: 200px;"
            />
          </a>
          {% endif %}
        </div>

        <div class="col-md-{{ rightCol ?? 6 }}">
            <h2>
                <a href="{{article_show}}" class="text-decoration-none">{{article.title}}</a>
            </h2>
            <p>
                {{article.createdAt|date('d M Y')}}
            </p>
            {{article.featuredText ?:article.content|striptags|slice(0,130) ~ '...'}}
        </div>
      </div>
    </article>